<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Payex>
            <version>1.0.0.1</version>
        </Mage_Payex>
    </modules>
    <global>
        <models>
            <payex>
                <class>Mage_Payex_Model</class>
                <resourceModel>payex_mysql4</resourceModel>
            </payex>
            <payex_mysql4>
                <class>Mage_Payex_Model_Mysql4</class>
                <entities>
                    <api_debug><table>payex_api_debug</table></api_debug>
                </entities>
            </payex_mysql4>
        </models>
        <resources>
            <payex_setup>
                <setup>
                    <module>Mage_Payex</module>
                    <class>Mage_Payex_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payex_setup>
            <payex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payex_write>
            <payex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payex_read>
        </resources>
        <blocks>
            <payex><class>Mage_Payex_Block</class></payex>                                  
        </blocks>
    </global>
    <frontend>
	    <secure_url>
	        <payex_standard>/payex/standard</payex_standard>
	    </secure_url>
	    <routers>
	        <payex>
	            <use>standard</use>
	            <args>
	                <module>Mage_Payex</module>
	                <frontName>payex</frontName>
	            </args>
	        </payex>
	    </routers>
	    <translate>
	        <modules>
	            <Mage_Payex>
	                <files>
	                    <default>Mage_Payex.csv</default>
	                </files>
	            </Mage_Payex>
	        </modules>
	    </translate>
	    <layout>
	         <updates>
	              <payex_standard_redirect>
	                    <file>payex.xml</file>
	              </payex_standard_redirect>
	         </updates>
	    </layout>
    </frontend>
	<adminhtml>
        <translate>
            <modules>
                <Mage_Payex>
                    <files>
                        <default>Mage_Payex.csv</default>
                    </files>
                </Mage_Payex>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payex>
                                            <title>Payex Section</title>
                                        </payex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <payment>
            <payex_standard>
                  <model>payex/standard</model>
                  <title>PayEx Online Payment</title>
                  <active>1</active>
                  <sort_order>1</sort_order>
                  <merchantnumber>ENTER YOUR PAYEX MERCHANTNUMBER HERE</merchantnumber>
                  <payexurl>Insert test url</payexurl>
                  <md5key></md5key>
                  <instantcapture>1</instantcapture>
                  <popup>1</popup>
            </payex_standard>
        </payment>
     
    </default>

</config>
